<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
	</head>
	<body>
		<h3>스프링부트 데이터베이스 실습</h3>
		
		<h4>JPA 실습</h4>	
		<a th:href="@{/user1/list}">User1 목록</a>
		<a th:href="@{/user2/list}">User2 목록</a>
		<a th:href="@{/user3/list}">User3 목록</a>
		<a th:href="@{/user4/list}">User4 목록</a>
		
		<h4>mybatis 실습</h4>	
		<a th:href="@{/user5/list}">User5 목록</a>
		<a th:href="@{/user6/list}">User6 목록</a>
		
		
		<h4>JAP 쿼리메서드 실습</h4>
		<a th:href="@{/query1}">쿼리 1</a>
		<a th:href="@{/query2}">쿼리 2</a>
		<a th:href="@{/query3}">쿼리 3</a>
		<a th:href="@{/query4}">쿼리 4</a>
		<a th:href="@{/query5}">쿼리 5</a>
		<a th:href="@{/query6}">쿼리 6</a>
		<a th:href="@{/query7}">쿼리 7</a>
		<a th:href="@{/query8}">쿼리 8</a>
		<a th:href="@{/query9}">쿼리 9</a>
		<a th:href="@{/query10}">쿼리 10</a>
		<a th:href="@{/query11}">쿼리 11</a>
		<a th:href="@{/query12}">쿼리 12</a>
		<a th:href="@{/query13}">쿼리 13</a>
		<a th:href="@{/query14}">쿼리 14</a>
		<a th:href="@{/query15}">쿼리 15</a>
		<a th:href="@{/query16}">쿼리 16</a>
		<a th:href="@{/query17}">쿼리 17</a>
		<a th:href="@{/query18}">쿼리 18</a>
		<a th:href="@{/query19}">쿼리 19</a>
		<a th:href="@{/query20}">쿼리 20</a>
		
			
	</body>
</html>